/* query.module.css */

/* Styles for the vertical navigation */
.verticalNav {
  float: left;
  width: 320px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.verticalNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.verticalNav li {
  padding: 12px 16px;
  cursor: pointer; /* Add a pointer cursor to indicate interactivity */
  color: #000; /* Default text color */
  background-color: transparent; /* Default background color */
}

/* Styles for the active tab */
.verticalNav li.active {
  background-color: #1c1d57; /* Highlighted background color */
  color: #fff; /* Text color for the active tab */
}

.verticalNav li a {
  text-decoration: none;
}

/* Content styles */
.content {
  /* Your existing content styles */
  margin-left: 170px; /* Adjust the margin as needed based on the width of the verticalNav */
}
